.footer__link{
  margin: 0 0 32px;
  padding: 0;
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}
.footer__link:hover{
  opacity: .8;
}
@media screen and (min-width: 768px){
  .footer__link{
    font-size: 16px;
    line-height: 18px;

    margin-right: 18px;
  }
}@media screen and (min-width: 1024px){
  .footer__link{

  }
}
@media screen and (min-width: 1280px){
  .footer__link{

  }
}
